:root {
    --primary-color: #fc6816;
    --secondary-color: #213344;
    --background-color: #232e39;
    --pera-color: #616a73;
    --contact-color: #3b3f82;
    --white: #fff;
    --black: #000;
  }
  * {
    margin: 0;
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
    display: block;
  }
  a {
    text-decoration: none;
    color: black;
  }
  body {
    font-family: noto;
  }
  html{
    scroll-behavior: smooth;
    transition: all 0.5s;
  }
  
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  /* ================================= */
  .container {
    margin: 0 auto;
    padding: 15px;
    max-width: 1170px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  /* =================================== */
  .heading {
    margin-bottom: 80px;
    text-align: center;
    padding: 0px 15px;
  }
  .heading h5 {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 18px;
    margin: 0px 0px 15px;
    padding: 15px 40px;
    border: 1px solid rgba(128, 128, 128, 0.034);
    border-radius: 50px;
    display: inline-block;
    background-color: rgba(128, 128, 128, 0.053);
    color: var(--primary-color);
    text-transform: uppercase;
  }
  .heading h2 {
    text-align: center;
    font-size: 40px;
    line-height: 64px;
    font-weight: 900;
    text-transform: capitalize;
    color: var(--secondary-color);
  }
  .search-area{
    position: relative;
    z-index: 999;
}
.search-icon>i,.arrow-icon>i{
    font-size: 18px;
    color: var(--contact-color);
  }
.search-icon,.arrow-icon{
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  background: #eee;
  cursor: pointer;
  bottom: 5%;
  right: 2%;
  transition: all .4s;
}
.search-icon{
  bottom: 5%;
  left: 2%;
}
  /* =================================== */
  /* ============header & navbar start========= */

.navbar-bg {
  width: 100%;
  position: fixed;
  background-color: rgb(238, 240, 242);
  z-index: 9999;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.096);
}
.navbar-bg .logo img {
    width: 70px;
    height: 24px;
    margin: 10px;
}
.navbar-menu {
    display: flex;
    list-style: none;
}
.navbar-menu a {
    font-size: 14px;
    margin: 10px;
    padding: 10px;
    color: #18191d;
}
.navbar {
  margin: 10px;
    text-transform: capitalize;
    letter-spacing: 1px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar-bars{
  position: relative;
  display: none;
}
/* ============contact header================ */
.social ul{
  padding: 0px;
}
.menu-icon li{
  list-style: none;
  padding: 0;
  padding-left: 20px;
}
.menu-icon{
  /* flex-direction: row; */
  display: flex;
}
/* ============contact header================ */
.navbar-item{
  position: relative;
}
.navbar-item .sub-menu{
  position: absolute;
  left: 0;
  top: 50px;
  padding: 20px;
  list-style: none;
  line-height: 2;
  background-color: rgb(238, 240, 242);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.118);
  width: max-content;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}
.navbar-item ul{
  padding: 0;
}
.navbar-item:hover .sub-menu{
  opacity: 1;
  visibility: visible;
  top: 45px;
}
/* =============header & navbar end=============== */
/* =============banner start=============== */
.banner-bg{
  background: linear-gradient(90deg, #f3eee898, #fff 75%);
}
.banner{
  width: 100%;
  height: 100vh;
  margin-top: 60px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.banner-text-line{
  padding-right: 40px;
  transition: all 0.5s;
  margin-bottom: 50px;
}
.banner-text-line .banner-text {
  color: var(--primary-color);
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  line-height: 25px;
  text-align: center;
}
.banner-text-line img {
  width: 30px;
  margin-right: 20px;  
  display: inline-block;
}

.banner-text-line h6 {
  display: flex;
  align-items: center;
}
.banner-text-line .banner-heading {
  font-size: 55px;
  font-weight: 800;
  line-height: 1.6;
  color: var(--secondary-color);
  margin-bottom: 10px;
}
.banner-text-line p {
  color: var(--pera-color);
  line-height: 2;
  font-size: 20px;
  font-weight: 300;
}
.banner-btn{
  margin-top: 30px;
}
.banner-btn .btnorder {
  font-size: 16px;
  border: 2px solid var(--secondary-color);
  border-radius: 30px;
  padding: 13px 10px 13px 25px;
  color: var(--white);
  background-color: var(--secondary-color);
  transition: all 0.5s;
}
.banner-btn .fa-solid {
  font-size: 10px;
  padding: 10px;
  line-height: 10px;
  margin-left: 20px;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--primary-color);
  transition: all 0.5s;
}
.btnorder:hover {
  background-color: var(--primary-color);
  border-color: transparent;
}
.btnorder:hover .fa-solid{
  background-color: var(--secondary-color);
  color: var(--white);
}
.banner-btn .btnsee {
  font-size: 14px;
  margin-left: 30px;
  color: var(--primary-color);
  transition: all 0.5s;
}
.banner-img{
  max-width: 500px;
  margin: 0 auto -50px;
  position: relative;
  z-index: 999;
}
.banner-img::before {
  background-image: url("../image/msala.png");
  background-size: 90%;
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 10px;
  left: 10px;
  z-index: 1000;
}
/* =============banner end=============== */
/* ==========servise========== */
.service-bg{
  margin-top: 80px;
}
.order {
  padding: 25px 15px;
  margin: 10px;
  border: 2px dashed rgba(198, 193, 193, 0.326);
  border-radius: 100px;
  display: flex;
}
.order-icon {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border: 1px solid rgb(242, 247, 247);
  background-color: rgba(216, 217, 217, 0.275);
  border-radius: 50%;
}
.fa-solid,
.fa-regular {
  padding: 10px;
  font-size: 30px;
  color: var(--primary-color);
}
.order-data {
  padding-left: 20px;
  line-height: 1.9em;
  font-size: 15px;
}
.order-data p {
  color: var(--pera-color);
} 
/* ==========servise end========== */
/* ==========masterchef========== */
.masterchef-bg{
  position: relative;
  padding: 120px 0;
}

.chef-img img{
  width: 100%;
  padding-bottom: 15px;

}
.chef-massage h2 {
  font-size: 50px;
  margin: 0px 0px 30px;
  line-height: 1.1em;
  color: var(--secondary-color);
}
.chef-massage h2 span {
  font-weight: 100;
}
.chef-massage h3 {
  font-size: 22px;
  margin: 0px 0px 20px;
  line-height: 1.8em;
  color: var(--secondary-color);
}
.chef-massage p {
  font-size: 18px;
  line-height: 1.8em;
  font-weight: 100;
  color: var(--pera-color);
}
.masterchef .sign {
  width: 150px;
  padding-top: 20px;
}
.chef-massage {
  margin-left: 97px;
  padding-top: 100px;
  line-height: 24px;
  padding: 0 15px;
}
.vegetable{
  position: absolute;
  width: 100px;
  right: 0;
  top: 30%;
}
/* ==========masterchef end========== */
/* ========== special menu start========== */

.menu-bg {
  background-color: #f8f4f0;
  position: relative;
  padding: 120px 0px;
}
.menu-text{
  font-size: 16px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  list-style: none;
  text-transform: uppercase;
}
.menu-text li {
  margin: 0px 15px;
  padding: 0px 25px;
}
.menu-text li:first-child a{
  color: var(--primary-color);
}
.food {
  font-size: 16px;
  line-height: 24px;
  padding: 0px 20px;
}
.food-item {
  margin-bottom: 40px;
  color: var(--secondary-color);
  padding-right: 30px;
}
.food-heading {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.food-item h5 {
  font-size: 16px;
  padding-bottom: 10px;
  letter-spacing: 3px;
}
.food-heading h5:first-child::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 28%;
  border-top: 2px dashed #ccc;
  top: 12px;
  left: 62%;
}
.food-heading-2 h5:first-child::after {
  left: 60%;
  width: 30%;
}
.food-heading-3 h5:first-child::after {
  left: 40%;
  width: 50%;
}
.food-heading-4 h5:first-child::after {
  left: 50%;
  width: 43%;
}
.food-heading-5 h5:first-child::after {
  left: 61%;
  width: 30%;
}
.food-heading-6 h5:first-child::after {
  left: 50%;
  width: 41%;
}
.food-item p {
  font-size: 15px;
  margin-bottom: 5px;
  letter-spacing: 1px;
  color: var(--pera-color);
}
.paltes img:first-child{
  position: absolute;
  width: 160px;
  top: -80px;
  left: 43%;
}
.paltes img:nth-child(2) {
  right: 80px;
  top: 10%;
  position: absolute;
  width: 80px;
}
.paltes img:last-child {
  left: 10%;
  bottom: 10%;
  position: absolute;
  width: 80px;
}
/* ========== special menu end==========*/
/* ========== special RECIPES start========== */
.special-recipes-bg{
  padding: 120px 0px;
}
.food-img {
  padding: 0px 20px;
  object-fit: cover;
  display: block;
  align-items: center;
  justify-content: center;
}
.food-img img {
  border-radius: 50%;
  padding: 40px;
}
.food-text {
  text-align: center;
  line-height: 24px;
  padding: 20px 0px;
}
.food-text p {
  font-size: 15px;
  line-height: 30px;
  color: var(--pera-color);
} 

/* ========== special RECIPES end========== */
/* ========== restaurant start========== */
.gallery-bg{
  padding: 120px 50px;
  background-color: var(--background-color);
  margin: 0 auto;
  position: relative;
}
.gallery-bg .heading h2 {
  color: #f8f4f0;
}
.restaurant-img {
  margin-bottom: 80px;
  position: relative;
  z-index: 1;
}
.gallery-img img{
    width: 100%;
    padding: 0px 35px;
    border-radius: 5px;
  }
  .gallery-img-3{
    display: flex;
    align-items: center;
  }
  .gallery-img {
    padding: 20px 10px;
  }
  .restaurant-bg-img img:first-child{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    transform: rotate(-30deg);
    opacity: 0.1;
  }
  .restaurant-bg-img img:nth-child(2){
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 200px;
    opacity: 0.1;
  }
  .restaurant-bg-img img:last-child{
    position: absolute;
    top: 45%;
    right: 0px;
    width: 300px;
    transform: rotateY(180deg);
    opacity: 0.1;
  }
/* ========== restaurant end========== */
/* ========== guestbook start========== */
.testimonials-bg{
  padding: 120px 0px;
}
.customer {
  border: 1px solid var(--primary-color);
  padding: 40px 30px;
  line-height: 24px;
  margin: 10px;
}
.customer img {
  width: 40px;
  margin-bottom: 30px;
}
.customer p {
  font-size: 16px;
  margin-bottom: 30px;
  color: var(--pera-color);
}
.customer-img {
  display: flex;
}
.customer-img img {
  width: 60px;
  margin-right: 20px;
  border-radius: 50%;
} 
.customer-2{
    border: 1px solid #fc66161e;
}
.customer-review h6{
  font-size: 18px;
  text-transform: capitalize;
}
.customer-review p{
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* ========== guestbook end========== */
/* ========== Download app start========== */
.download-bg{
  width: 1170px;
  height: 532px;
  padding: 0px 80px;
  margin: auto;
  overflow: hidden;
  border-radius: 20px;
  background-color: rgb(248, 244, 240);
}
.download{
  padding: 100px 0px
}
.download h6{
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 15px;
  color: var(--primary-color);
}
.download h2 {
  font-size: 40px;
  font-weight: 700px;
  line-height: 64px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.download p {
  color: var(--pera-color);
  line-height: 1.9;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.download .btnorder {
  font-size: 16px;
  border-radius: 30px;
  padding: 13px 10px 13px 25px;
  color: var(--white);
  background-color: var(--primary-color);
  transition: all 0.5s;
}
.download a .fa-solid {
  font-size: 10px;
  padding: 10px;
  line-height: 10px;
  margin-left: 20px;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--secondary-color);
}
.download a:hover {
  background-color: var(--secondary-color);
  border-color: transparent;
}
.download a:hover .fa-solid{
  background-color: var(--primary-color);
  color: var(--white);
}
.download-img{
  width: 100%;
  padding-left: 10%;
}
/* ========== Download app end========== */
/* ========== upcoming events stArt========== */
.events-bg{
  padding: 120px 0px;
}
.events-box{
  margin: 0px 15px;
  padding-left: 50px;
  background-color: #fff;
  box-shadow: 0 20px 40px rgb(71 67 97 / 9%);
  border-radius: 5px;
  line-height: 24px;
  overflow: hidden;
}
.event-item-img{
  position: relative;
}
.event-item-img .event-text-tag{
  font-size: 13px;
  font-weight: 500;
  padding: 0px 10px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: var(--secondary-color);
  background-color: #f7f7f7;
}
.event-text-tag .fa-solid {
  padding: 10px 10px;
  background-color: #fff;
  color: var(--secondary-color);
  font-size: 16px;
}
.event-text {
  padding: 40px 0px;
  line-height: 1.5;
  position: relative;
}
.food-info {
  display: flex;
  margin-bottom: 15px;
  position: absolute;
  top: -200px;
  left: -113px;
  transform: rotate(-90deg) translateX(-50%);
}
.food-info-name,
.food-info-date {
  font-size: 12px;
  padding-left: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 18px;
  color: var(--secondary-color);
  text-transform: capitalize;
}
.food-info-date {
  font-weight: 100;
  color: var(--pera-color);
}
.food-title {
  margin-right: 20px;
  font-size: 18px;
  line-height: 31px;
  font-weight: bold;
  color: var(--secondary-color);
} 
/* ========== upcoming events end========== */
/* ========== footer start========== */
.footer-bg {
  background-color: var(--secondary-color);
  color: var(--white);
}
.footer{
  padding: 100px 0px 80px 0px;
}
.footer-logo{
  max-width: 90px;
}
.footer-add,.footer-email{
  display: flex;
}
.icon-flex .fa-regular,
.icon-flex .fa-solid{
  font-size: 22px;
  padding-top: 0px;
  margin-right: 10px;
}
.footer-email p span{
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
}
.footer-add,.footer-email{
  line-height: 2;
  margin-bottom: 20px;
}
.footer-bg .col-4{
  display: flex;
  justify-content: flex-end;
}
.sub-footer{
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 50px 0px;
}
.footer-btn {
  height: 55px;
  width: 220px;
  font-size: 16px;
  background-color: #fff;
  padding: 15px 30px;
  cursor: pointer;
}
.footer-btn a{
  color: var(--black);
}
.footer-btn a:hover{
  color: var(--primary-color);
}
.footer-btn p {
  font-size: 18px;
  margin-top: 30px;
  color: var(--primary-color);
  text-align: center;
}
.rest {
  display: flex;
  list-style: none;
  font-size: 12px;
}
.rest li {
  padding-right: 30px;
  text-transform: capitalize;
}
.sub-footer-para{
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
}
.sub-footer-para span{
  color: var(--primary-color);
}
/* ================footer end========== */
/* ================contact banner start========== */
.contact-head {
  color: var(--contact-color);
  margin: 140px 0px;
  height: 122px;
  text-align: center;
  font-size: 38px;
  text-transform: capitalize;
  letter-spacing: 2px;
}
/* ================contact banner end========== */
/* ================contact form start========== */
.form-bg{
  width: 80vw;
  color: var(--contact-color);
  padding: 80px 50px;
  background-color: #fff;
  box-shadow: 0px 20px 40px rgb(60 63 130 / 8%);
  position: relative;
  margin: auto;
  margin-top: -80px;
}
.form-text {
  margin-bottom: 30px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 29px;
}
.form-group input {
  padding: 15px 20px;
  background-color: rgba(60, 63, 130, 0.04);
  margin-top: 30px;
  border: 1px solid rgba(60, 63, 130, 0.07);
  width: 100%;
  line-height: 24px;
  letter-spacing: 2px;
  font-size: 14px;
  text-transform: capitalize;
}
textarea {
  width: 100%;
  height: auto;
  margin: 30px 30px;
  line-height: 24px;
  padding: 15px 20px;
  font-size: 15px;
  letter-spacing: 1px;
  background-color: rgba(60, 63, 130, 0.04);
  border: 1px solid rgba(60, 63, 130, 0.07);
}
.form-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.form-btn button {
  width: 200px;
  padding: 15px;
  border: 1px solid rgba(60, 63, 130, 0.07);
  border-radius: 50px;
  background-color: var(--contact-color);
  color: #ffffff;
  transition: all 0.5s;
  font-size: 16px;
}
/* ===========contact-form-end============= */
/* ===========contact-map-start============= */
.contact-map {
  margin-top: 100px;
}
.google-map iframe{
  filter: grayscale(1);
}
.contact-detail{
  padding: 60px 0px;
  color: var(--contact-color);
  font-weight: 400;
  font-size: 20px;
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
}
.contact-detail .fa-solid {
  font-size: 18px;
  color: var(--contact-color);
}
/* ================contact form end========== */
/* ================contact footer start========== */
.contact-footer-bg{
  padding: 80px 15px 30px 0px;
  margin: 0 auto;
  line-height: 1.5;
  background-color: #7071820d;
  color: var(--contact-color);
  font-weight: 400;
}
.contact-footer-logo img{
  width: 100px;
  line-height: 24px;
  margin-bottom: 30px;
}
.contact-footer-text{
  font-size: 14px;
  line-height: 1.9;
}
.contact-social{
  margin-top: 30px;
}
.list-elements{
  list-style: none;
  padding: 0;
}
.contact-social-list {
  list-style: none;
  padding: 0;
  display: flex;
}
.contact-social .fa-brands {
  width: 40px;
  font-size: 12px;
  border: 1px solid rgb(202, 201, 201);
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
}  
.contect-footer-about>h5,.contect-footer-address>h5,
.contect-footer-logo>h5{
    font-size: 20px;
    margin-bottom: 20px;
}
.contact-recent-post img {
  width: 100px;
}
.contact-recent-post li {
  display: flex;
  padding-bottom: 20px;
}
.contact-recent-post p {
  padding-left: 20px;
  font-weight: 600;
}
/* ================contact footer end========== */